
<div class="container">
<div class="row">
  <div class="jumbotron text-center">
    <h1>Eat-Da-Burger!</h1>
    <span class="glyphicon glyphicon-cutlery" style="font-size: 20px" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-cutlery" style="font-size: 20px" aria-hidden="true"></span> 
    <p>Enter the burger of your dream...then DEVOUR it.</p> 
  </div>
  <img style="width: 200px; height: 200px; margin-top: -330px; margin-left: 100px;" src="/assets/image/burger.gif">
</div>
</div>
<div class="row">
  <div id="unDevoured" class="container col-md-6 col-lg-6 text-center">
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <div class="unDevourBs">
            {{this.burger_name}}
          </div>     
         {{!--  devuor it button  --}}  
          <div class="devourBtn">
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <button type="submit" class="devourBtns"> DEVOUR it!</button>
            </form>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-1"></div>
  <div id="devoured" class="container col-md-5">
    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="devourBs"> 
            {{this.burger_name}}
          </div>
             <p>YUM!!!</p>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
  <div class="row text-center">
    <h2>Enter A Burger!</h2>
      <form class="add-burger" action="/" method="POST">
        <div class="form-group">
          <label for="burger"> Burger name: </label>
          <input type="text" id="burger" name="name">
        </div>
        <button type="submit"> Add</button>
      </form>
  </div>
</div>

